<div class="col-md-12">
  <form [formGroup]="searchForm">
    <div class="row form-group">
      <div class="col-md-6">
        <label for="nome">Nome</label>
        <input type="text" formControlName="nome" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nome.errors }" />
        <div *ngIf="submitted && f.nome.errors" class="invalid-feedback">
          <div *ngIf="f.nome.errors.required">Campo Obrigatório!</div>
        </div>
      </div>
      <div class="col-md-3">
        <label for="cpf">CPF</label>
        <input mask='999.999.999-99' type="text" formControlName="cpf" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cpf.errors }" />
        <div *ngIf="submitted && f.cpf.errors" class="invalid-feedback">
          <div *ngIf="f.cpf.errors.required">Campo Obrigatório!</div>
          <div *ngIf="f.cpf.errors.minlength">CPF inválido!</div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button (click)="search();" class="btn btn-outline-primary btn-lg">Buscar</button>&nbsp;
      <button type="reset" class="btn btn-outline-danger btn-lg">Limpar</button>
    </div>
  </form>

  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let client of clients | paginate: { id: 'server', itemsPerPage: 10, currentPage: pagination.pagina, totalItems: pagination.totalItems }">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{client.nome}}</h5>
      </div>
      <p class="mb-1">{{client.cpf | maskCpf}}</p>
      <p class="mb-1">{{client.celular | maskPhone}}</p>
    </a>
  </div>
  <br>
  <div [hidden]="!isResult">
    <div class="text-center">
      <pagination-controls (pageChange)="getPage($event)" id="server" previousLabel="" nextLabel="">
      </pagination-controls>
    </div>
    <div class="text-center">
      <label>Total de Registros: {{pagination.totalItems}}</label>
    </div>
  </div>
</div>